# Environment
.env
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Tools
.mypy_cache/
uv.lock

# Logs
logs/

# IDE
.vscode/
.idea/

# Claude Files
.claude/

# local DB Files
*.db
*.db/